<%= form_with(model: location, url: locations_path(@movie), local: true) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :actor_id, "Select Actor", style: "display: block" %>
    <%= form.collection_select :actor_id, Actor.all, :id, :name, { prompt: "Select an actor" }, { class: "form-control" } %>
  </div>

  <div>
    <%= form.hidden_field :movie_id, value: @movie.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
